@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

a, h1:not(.drum-button) {
    font-family: 'Quicksand', sans-serif;
    font-size: .4em;
}

/*  LINKS RESET */
a {
  text-decoration: none;
  color: rgba(34, 34, 34, .8);
}

:hover, :focus {
    color: darken(#000, 20%);
  }

.container-beats {
    display: grid;
    height: 200px;
    grid-template-columns: auto auto auto;
    grid-gap: 2px;
    background-color: rgb(61, 61, 61);
    padding: 8%;
    font-size: 5px; 
    align-content: center;

}  
