.drum-button { 
    width: 70%;  
    background-color: rgb(37, 37, 179);
    flex-wrap: wrap;  
    align-content: center; 
}

button {
    background: #855252;
    padding: 10px;
    border: 1px solid #832420;
    border-radius: 2px;
    width: 100px;
    color: #fff;
    font-size: 18px;
}