.drum-button { 
    color: antiquewhite;
    width: 70%;  
    background-color: rgb(26, 26, 27);
    flex-wrap: wrap;  
    align-content: center; 
  
}

button {
    background: #855252;
    padding: 10px;
    border: 1px solid #832420;
    border-radius: 2px;
    width: 100px;
    color: transparent;
    font-size: 18px;
}

button:hover {
    background-color: rgb(228, 211, 211);
  }

.drum-button:hover {
    background-color:  rgba(194, 11, 11, 0.658);
    opacity: 0.5;
  }